@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

body {
    font-family: "Mulish", sans-serif;
    color: #232323;
    background: rgb(0 0 0 / 8%);
}

.container {
	  max-width: 1200px !important;
}

.team_wrapper {
	padding: 80px 0;
}

.team_wrapper h2 {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 30px;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

.team_wrapper .team_item {
	  border-radius: 6px;
	  overflow: hidden;
	  margin-top: 40px;
	  transition: 0.4s all ease-in-out;
}

.team_wrapper .team_item:hover {
	  transform: translateY(-5px);
}

.team_wrapper .team_item figure {
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	  position: relative;
}

.team_wrapper .team_item:hover figure::before {
		visibility: visible;
		opacity: 1;
}

.team_wrapper .team_item figure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(107 57 189 / 43%);
    z-index: 1;
    transition: 0.4s all ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.team_wrapper .team_item:hover ul {
	  transform: translateY(-50%) translateX(0px);
}

.team_wrapper .team_item figure ul {
    margin: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(60px);
    list-style: none;
    transition: 0.4s all ease-in-out;
    z-index: 11;
}

.team_wrapper .team_item figure ul li a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    font-size: 18px;
    color: #6b39bd;
    transition: 0.4s all ease-in-out;
}

.team_wrapper .team_item figure ul li a:hover {
	  opacity: 0.7;
	  text-decoration: none;
}

.team_wrapper .team_item figure img {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	  transition: 0.4s all ease-in-out;
}

.team_wrapper .team_item:hover figure img {
	  transform: scale(1.10);
}

.team_wrapper .team_item .team_content {
	  text-align: center;
	  padding: 15px;
	  background: #ffffff;
	  border-bottom: 3px solid #6b39bd;
}

.team_wrapper .team_item .team_content h3 {
    font-size: 20px;
}

.team_wrapper .team_item .team_content h3 a {
	  color: #232323;
	  text-decoration: none;
	  transition: 0.4s all ease-in-out;
	   font-weight: 700;
}

.team_wrapper .team_item .team_content h3 a:hover {
	  color: #6b39bd;
}

.team_wrapper .team_item .team_content p {
    color: #6b39bd;
    margin: 0;
    text-transform: uppercase;
}